*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Initial Configuration */

body {
    font-family: 'Roboto', sans-serif;
    background-color: hsla(60, 12%, 90%, 0.943);
}